{% extends 'base.html' %}

{% block body %}
<hr>
<li>该股票一共有{{stocks.stock_count}}条交易记录。。。
<table>
    <th>
    {% for column in stocks.stock_columns %}
        <td class='uphead'> {{ column }} </td>
    {% endfor %}
    </th>
    {% for index,stock in stocks.stocks %}
        <tr>
            {% if stock.12 > 0 %}
                <td class='upbody'> {{ forloop.counter0 }} </td>
                {% for item in stock %}
                    <td class='upbody'> {{ item }} </td>
                {% endfor  %}
            {% else %}
                <td class='downbody'> {{ forloop.counter0 }} </td>
                {% for item in stock %}
                    <td class='downbody'> {{ item }} </td>
                {% endfor  %}
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% endblock body %}
