
<style type="text/css">
    .stock {color:#dd8383;font-size: 1.5em}
</style>

{% extends 'base.html' %}

{% block header %}
{{ block.super }}
{% endblock %}


{% block body %}
股票列表的,共有{{stock_count}}只股票:
<li><a href={% url 'stocklastday' 'up'%}>最近一个交易日上涨</a>
<li><a href={% url 'stocklastday' 'down'%}>最近一个交易日下跌</a>

<ul>
    {% for index,stock in stocklist %}
        {% if index|divisibleby:10 %}
            <li>
        {% endif %}
        <a href={% url 'stock' stock.0 1 %} class = 'stock'> {{ stock.2 }} </a>
    {% endfor %}
</ul>
{% endblock  %}

