{% load static %}
<title>{{ title }}</title>
<style type="text/css">
    p {color:#008080;font-size: 1.5em}
    img { width:100%;height:200}
    li {color:#008080;font-size: 1em}
    .uphead {color:#FFF8DC;background-color:#FF0000}
    .upbody {color:#FF0000;background-color:#E6E6FA}
    .downhead {color:#FFF8DC;background-color:#008080}
    .downbody {color:#008080;background-color:#E6E6FA}
</style>

<script>
function myfunc() {

    doument.write("this is a javascript")
}    
</script>

{% block header %}
<div height=500>
    <img src={% static '/img/label.jpg' %}>
    <li><a href={% url 'index' %}>返回主页</a>
    <li>现在时间是:{{ now }}
</div>
{% endblock %}

{% block body %}
{% comment %} <img src={% static '/label.jpg' %}> {% endcomment %}
{% endblock %}

{% block footer %}
<script>
    myfunc()
</script>

{% comment %} <img src={% static '/label.jpg' %}> {% endcomment %}
{% endblock %}
