{% load static %}
<style type="text/css">
    p {color:#008080;font-size: 1.5em}
    img { width:100%;height:200}
    li {color:#008080;font-size: 1em; font-family: "Microsoft YaHei";}
    .uphead {color:#FFF8DC;background-color:#FF0000}
    .upbody {color:#FF0000;background-color:#E6E6FA}
    .downhead {color:#FFF8DC;background-color:#008080}
    .downbody {color:#008080;background-color:#E6E6FA}
    div {color:#008080;font-size: 1.2em;align=center}
</style>

<script>
    function myfunc() {
        var date=new Date();  
        var year=date.getFullYear(); //获取当前年份  
        var mon=date.getMonth()+1; //获取当前月份  
        var da=date.getDate(); //获取当前日  
        var day=date.getDay(); //获取当前星期几  
        var h=date.getHours(); //获取小时  
        var m=date.getMinutes(); //获取分钟  
        var s=date.getSeconds(); //获取秒  
        document.write("现在时间是："+year+'年'+mon+'月'+da+'日'+h+'时'+m+'分'+s+'秒')
    } 
</script>

{% block header %}
<title>{{ title }}</title>
<body >
    <div height=500 width=1000> 
        <img src={% static '/img/label.jpg' %}>
        <li><a href={% url 'index' %}>返回主页</a>    <a href="javascript:history.go(-1);">反上一页</a>
        <hr>
    </div>
</body>
{% endblock %}

{% block body %}
{% comment %} <img src={% static '/label.jpg' %}> {% endcomment %}
{% endblock %}

{% block footer %}
<div>
</div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; 第一页</a>
                <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}

            <span class="current">
                第 {{ page_obj.number }}页*共{{ page_obj.paginator.num_pages }}页
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">下一页</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">最后一页 &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
