{% load static %}
<title>{{ title }}</title>
<style type="text/css">
    p {color:#008080;font-size: 1.5em}
    img { width:100%;height:200}
    li {color:#008080;font-size: 1em}
    .uphead {color:#FFF8DC;background-color:#FF0000}
    .upbody {color:#FF0000;background-color:#E6E6FA}
    .downhead {color:#FFF8DC;background-color:#008080}
    .downbody {color:#008080;background-color:#E6E6FA}
</style>

<script>
function print()
{
    document.write('这是通过javascript输出的数据')
}
</script>
{% block header %}
<div height=500>
    <img src={% static '/img/label.jpg' %}>
</div>
{% endblock %}

{% block body %}
{% comment %} <img src={% static '/label.jpg' %}> {% endcomment %}
{% endblock %}

{% block footer %}
<p>
<script>
    print()
</script>
{% comment %} <img src={% static '/label.jpg' %}> {% endcomment %}
{% endblock %}
